{% extends "bootstrap/base.html" %}
{% block title %}Blueprint{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </button>
                 <a class="navbar-brand" href="/">DO TASK</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li><a href="/">Home</a></li>
                 </ul>
             </div>
         </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
         <div class="page-header">
             <h1 >Complete your task everyday!</h1>
         </div>


        {% for year in [2019,2018] %}
            <div class="container">
                <div>
                    <h3>{{ year }}</h3>
                </div>


                <div class="container">
                    {% for month in cal[year] %}
                    <div>
                        <button type="button" class="btn bg-primary" data-toggle="collapse" data-target="#task{{ year }}{{ month }}">{{ month }} 月</button>
                        <div id="task{{ year }}{{ month }}" class="collapse">
                            <div class="container">
                                <table class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Task</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for day in cal[year][month] %}
                                            <tr>
                                                <td>{{ month }}-{{ day }}</td>
                                                <td>{{ cal[year][month][day][0] }}</td>
                                                <td>{{ cal[year][month][day][2] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}

